{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}   Password Change {% endblock title %}

{% block content %}
<div style="margin: 10px;">
    <h1>Change Password</h1>
    <p>Please enter your old password, for secruity's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    <form method="post" style="margin:10px;">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="Change my password" style="margin-top:10px; margin-left:-2px;">
    </form>
</div>
{% endblock content %}